@font-face {
	font-family: 'Lulo Clean';
	src: url(../font/luloclean.ttf);
}

* {
	font-family: 'Lulo Clean';
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	width: fit-content;
	color: white;

	overflow-y: auto;
	overflow-x: none;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::before {
	content: ' ';
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../img/bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: -1;
}

body::-webkit-scrollbar {
	display: none;
}

button {
	background-color: #36f3d2;
	border: none;
	outline: none;
	font-size: 14px;
	border-radius: 20px;
	width: 180px;
	cursor: pointer;
}

button:active {
	background-color: #8efbe9;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 40px 40px 30px 40px;
}

.logo {
	display: flex;
	height: 100px;
}

.logo img {
	height: 100px;
}

.logo h3 {
	align-self: center;
	margin-left: 0px;
	margin-top: 11px;
	color: #36f3d2;
	font-size: 15px;
	text-shadow: rgb(0 0 0 / 60%) 0px 4px 8px;
	white-space: nowrap;
}

.nav {
	display: flex;
	flex-direction: column;
	margin: 21px 29px;
}

.nav ul {
	display: flex;
	list-style: none;
}

.nav ul li {
	margin-left: 30px;
}

.nav ul li a {
	color: white;
	font-size: 15px;
	text-shadow: rgb(0 0 0 / 60%) 0px 4px 8px;
	text-decoration: none;
}

.nav p {
	margin-top: 0px;
	text-align: right;
	font-size: 13.5px;
	text-shadow: rgb(0 0 0 / 60%) 0px 4px 8px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content h3 {
	color: #36f3d2;
	text-shadow: rgb(0 0 0 / 60%) 0px 4px 8px;
}

.content h2 {
	margin-top: 42px;
	font-size: 28px;
	text-shadow: rgb(0 0 0 / 60%) 0px 4px 8px;
}

.content p {
	margin-top: 0px;
	font-size: 14px;
	text-shadow: rgb(0 0 0 / 60%) 0px 4px 8px;
}

.form-inputs {
	display: flex;
	margin: 15px;
}

.form-field {
	display: inherit;
}

.form-field img {
	margin: 12px;
	height: 40px;
	position: absolute;
}

.form-field input {
	height: 55px;
	width: 270px;
	border: 3px solid #36f3d2;
	background: #182433;
	color: white;
	font-size: 30px;
	text-align: right;
	margin-top: 5px;
	padding-left: 55px;
}

.form-field input:focus {
	outline: none;
}

.form-inputs i {
	color: #36f3d2;
	font-size: 65px;
	margin: 0px 45px;
}

#btn_swap {
	margin-top: 20px;
}

.status {
	margin-top: 65px;
}

.status > p {
	text-align: center;
}

.prog {
	max-width: 90vw;
	width: 450px;
	height: 20px;
}

.percent {
	margin-top: -20px;
	width: 0%;
	height: 100%;
	background: #36f3d2;
	border-radius: 20px;
	transition: width ease 1s;
}

.full {
	width: 100%;
	height: 100%;
	background: #182433;
	border-radius: 20px;
}

.values {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.footer {
	margin-bottom: -20px;
}

.footer ul {
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 0;
}

.footer ul li {
	margin: 50px 15px 30px 15px;
	font-size: 20px;
}

.footer ul li a {
	color: white;
}

.footer img {
	width: 32px;
	margin: 0px -6px;
}

.tipo {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 30vw;
	z-index: -1;
}

.alert_list {
	position: fixed;

	right: 30px;
	bottom: 30px;
}

.alert_list > * {
	width: 300px;
	padding: 15px 20px;
	margin-top: 10px;

	display: flex;
	align-items: center;

	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;

	background-color: rgb(182, 54, 45);
}

.alert_success {
	background-color: rgb(41, 168, 41);
}

.loader {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loader.active {
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
}

.loader > img {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

#btn_connect.connected {
	background-color: rgb(255, 176, 176);
}
